/wandb

/Checkpoints

/Logs

/src/callbacks/__pycache__

/src/circuits/__pycache__

/src/data/__pycache__

/src/datamodules/__pycache__

/src/layers/__pycache__

/src/models/__pycache__

/src/runners/__pycache__

/src/tasks/__pycache__/

/src/utils/__pycache__/

/.ipynb_checkpoints/

/.ipynb_checkpoints/

/src/circuits/.ipynb_checkpoints/

/Configs/.ipynb_checkpoints/

/Data
